@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mynerve&family=Passion+One&display=swap');


:root {
    --black: #000000;
    --white: #ffffff;
    --light-gray: #c0c0c0;
    --gray: #909090;
    --dark-gray-transp: #2d2d2dc6;

    --font0: Verdana, Geneva, Tahoma, cursive;    
    --font1: 'Passion One', cursive;
    --font2: 'Dancing Script', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: var(--gray);

    font-family: var(--font0);
}

h1 {
    font-family: var(--font1);
}

header {
    padding: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding: 10px;
    font-size: 10vw;
    font-variant: small-caps;
}
header > p {
    font-size: 3vw;
}

footer {
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}
footer > p {
    font-size: 0.8em;
}

header a, footer a {

    color: var(--light-gray);
    text-decoration: none;
}
header a:hover, footer a:hover {
    color: var(--white);
    text-decoration: underline;
}

section {
    padding: 10vh 0vh 10vh 30px;
    line-height: 2em;

    font-size: 3.5vw;
    font-family: var(--font2);
}

section.default {
    background-color: var(--white);
    color: var(--black);
}

section.image {
    background-color: var(--black);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 0px 0px 12px 0px var(--black);

    color: var(--white);
}
section.image > p {
    display: inline-block;
    background-color: var(--dark-gray-transp);
    padding: 10px;
    text-shadow: 1px 1px 0px var(--black);
}

section#img01 {
    background-image: url("../images/background001.jpg");

}
section#img02 {
    background-image: url("../images/background002.jpg");
}

